

h1 {
  margin: 0 0 20px;
  line-height: 1;
  color: #13809B;
  font-size: 32px;
  font-weight: 500;
}

input {
  outline: none;
  display: block;
  width: 100%;
  margin: 0 0 20px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
}

input:focus {
  border: 1px solid #44c4e7;
}

.field > p {
  margin-top: -10px;
  text-align: left;
  color: red;
  display: none;
}




.footer {
  margin-top: 20px;
}
