<<<<<<< Updated upstream
/* General Site styling: General */
:root {
  --dark: #422f01;
  --shade: #9f8950;
  --bright: #ffdf92;
  --white: #ffffff;
=======
>>>>>>> Stashed changes

}

* {
  margin: 0;
  padding: 0;
  /*this line below is for design purpose only
  Please delete before submission.*/
  border: black solid 1px;
  
  
  
}

<<<<<<< Updated upstream
body {
  color:var(--dark);
  background-color: var(--bright);
  font-family: 'Aileron Regular';
  font-weight: 300;

  
}

a {
  text-decoration: none;
  color: var(--dark);
}

a:hover {
  color: var(--shade);
}


/* General Site styling: Navbar */

=======

body *{
  color: var(--bs-dark);
  
}



/* Outer Interface: Header */
>>>>>>> Stashed changes
.navbar {
  padding: 10vh 10vw 0 10vw;
}

.navbar * {
  display: flex;
  align-items: center;
  font-weight: 4rem;
  font-weight: 500;
}

.navbar img {
  width: 2rem;
  height: 2rem;
  margin: 10px 5px 10px 0;
  
}

.logo {
  justify-content: start;
}

.logo-name {
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  padding: 0 8px 0 0;
  font-family: 'Source Serif Pro';
  
}

.nav-menu {
  flex-direction: row;
  margin: 0;
  font-size: 1.2rem;
}

.nav-menu a {
  margin: 20px 20px 20px 20px;
  padding: 5px 8px;
}



/* General Site styling: Footer */
footer {
  width: 100%;
  height: 45vh;
  
  
}

footer > div {
  margin: 5vh 10vw 5vh 10vw;
  flex-direction: column;
}

.contact-us {
  color: var(--shade);
  font-family: 'Source Serif Pro';
  font-weight: 700;
  font-size: 4rem;
  margin: 2rem 0;
}
footer img {
  width: 100%;
  height: auto;
}

footer div {
  display: flex;
  
  
  
}
.contact-content {
  justify-content: space-between;
}

.contact-item {
  flex-direction: column;
  font-size: 0.5rem;
  margin-bottom: 3rem;
  
  
  
  

}

.contact-title{
  font-size: 1rem;
  margin: 0.5rem 0;
  font-weight: 500;
  

}

/* two box layout */
.left-box * {
  height: auto;
  width: 50vw;
  
}

.left-box *{
  height: auto;
  width: 50vw;
  
}

/* one title with 3 columns layout */
.title-with-3-columns {
  padding: 10vh 10vw;
  
  

}

.title-with-3-columns  * {
  display:flex;
  flex-direction: column;
  
  

}

.title-with-3-columns > div {
  flex-direction: row;
  
}
.up-box {
  justify-content: center;
}

.down-box {
  flex-direction: column;
  justify-content: space-between;
}
<<<<<<< Updated upstream

.down-box > div {
  flex-direction: column;
  width: 20vw;
  align-items: center;
  min-width: 200px;
}

.down-box * {
  align-content: center;
  text-align: center;
  
}
.title-with-3-columns  img {
  width: 100%;
  height: auto;
  
  
=======
.footer {
  padding-left: 10% !important;
  padding-right: 10% !important; 
>>>>>>> Stashed changes
}
.title-with-3-columns h2, h3{
  font-family: 'Source Serif Pro';
}

.title-with-3-columns h2 {
  font-size: 3em;
}

.title-with-3-columns h3 {
  font-size: 1.2rem;
}

.down-box .pic{
  margin: 2rem 0;
}
.down-box .topic, .content {
  margin: 0.5rem 0;
}
.title-with-3-columns p {
  font-size: 0.8rem;
}