/* Define color pallete */


body {
  color: var(--bs-dark)
}

/* Outer Interface: Header */
.navbar {
  padding-left: 10% !important;
  padding-right: 10% !important; 
  
}
.footer {
  padding-left: 10% !important;
  padding-right: 10% !important; 
  
}


.link:hover {
  color: #369cb8;
}

.button {
  cursor: pointer;
  background: #44c4e7;
  width: 100%;
  padding: 10px 15px;
  border: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
}

.button:hover {
  background: #369cb8;
}

.link {
  text-decoration: none;
  color: #44c4e7;
}
